<div class="cont">
	<div class="form-container sign-in-container">
		<form action="#">
			<h1>Login</h1>
			<div class="social-container">
				<a href="#" class="social"
					><fa-icon
						style="font-size: 20px; color: #00364a"
						[icon]="faFb"
					></fa-icon
				></a>
				<a href="#" class="social"
					><fa-icon
						style="font-size: 20px; color: #00364a"
						[icon]="faInsta"
					></fa-icon
				></a>
				<a href="#" class="social"
					><fa-icon
						style="font-size: 20px; color: #00364a"
						[icon]="faGoogle"
					></fa-icon
				></a>
			</div>
			<span>o utiliza tu cuenta DevRanking</span>
			<input type="email" placeholder="Email" />
			<input type="password" placeholder="Password" />
			<a href="#">¿olvidaste tu password?</a>
			<app-button [type]="'btn1'" [inputText]="'Login'"></app-button>
			<a class="go-signup" routerLink="/signup" href="#"
				>¿No tienes una cuenta todavía?</a
			>
		</form>
	</div>
</div>
