<div id="slider">
	<section class="slide" style="background-color: #3b657b">
		<div>
			<div class="vis" style="background-image: url()"></div>
			<h1>...</h1>
			<p><strong>...</strong></p>
			<p><b>...</b></p>
		</div>
	</section>

	<section class="slide" style="background-color: #3b657b">
		<div>
			<div
				class="vis"
				style="
					background-image: url(../../../../../assets/img/court.jpg);
					filter: brightness(150%);
				"
			></div>
			<h1>y conecta con otros jugadores</h1>
			<p>Participación : <strong>en la competicón amateur</strong></p>
			<p>
				Comunidad deportiva conectada <b>una comunidad deportiva conectada</b>
			</p>
			<a href="https://www.rankingcasadecampo.es/">xxxxxxx</a>
		</div>
	</section>

	<section class="slide" style="background-color: #3b657b">
		<div>
			<div
				class="vis"
				style="
					background-image: url(../../../../../assets/img/padle1.jpg);
					filter: brightness(150%);
					width: 157%;
				"
			></div>
			<h1>de clasificaciones al día</h1>
			<p>
				Dinámico :
				<strong>en actualizaciones de clasificaciones en vivo</strong>
			</p>
			<p>
				Clasificación de jugadores en tiempo real:
				<b>tu potencial en la cancha</b>
			</p>
			<a href="https://www.rankingcasadecampo.es/">xxxxxxx</a>
		</div>
	</section>

	<section class="slide" style="background-color: #3b657b">
		<div>
			<div
				class="vis"
				style="
					background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/710995/tennis-woman-600.png);
					filter: brightness(50%);
				"
			></div>
			<h1>de la competición</h1>
			<p>Desafío : <strong>en un viaje de aspirante a campeón</strong></p>
			<p>
				Asciende de rango, reclama tu victoria : <b>cada triunfo logrado</b>
			</p>
			<a href="https://www.rankingcasadecampo.es/">xxxxxxxxx</a>
		</div>
	</section>

	<section class="slide" style="background-color: #3b657b">
		<div>
			<div
				class="vis"
				style="
					background-image: url(../../../../../assets/img/jump.jpg);
					filter: brightness(150%);
					width: 123%;
				"
			></div>
			<h1>del espíritu deportivo</h1>
			<p>
				Celebra : <strong>en el juego limpio, respeto y compañerismo</strong>
			</p>
			<p>Más que puntos, deportividad" : <b>la deportividad</b></p>
			<a href="https://www.rankingcasadecampo.es/">xxxxxxxxxxxxx</a>
		</div>
	</section>

	<section class="slide" style="background-color: #3b657b">
		<div>
			<div
				class="vis"
				style="
					background-image: url(../../../../../assets/img/college.jpg);
					filter: brightness(150%);
					width: 124%;
				"
			></div>
			<h1>de cada ascenso, de cada hito</h1>
			<p>Logros : <strong>en foros de jugadores</strong></p>
			<p>Alcanza metas : <b>y comparte tu historia de éxito</b></p>
			<a href="https://www.rankingcasadecampo.es/">xxxxxxxxxx</a>
		</div>
	</section>

	<div #slcontent id="slcontent">
		<div #slprojet id="slprojet" class="line">
			<div><span>Disfruta </span> <span class="scroll"></span></div>
		</div>
		<div #sltype id="sltype" class="line">
			<div><span>Promueve </span> <span class="scroll"></span></div>
		</div>
		<div #slclient id="slclient" class="line">
			<div>xxx</div>
		</div>
		<div #slcompteur id="slcompteur">
			<div>
				<b
					><span>0<br />0<br />0<br />0<br /></span
					><span>0<br />0<br />0<br />0<br /></span><span></span></b
				><i>000</i>
			</div>
		</div>
		<div id="slother" class="line">
			<div>
				<span>Participa y&nbsp;</span>
				<span class="scroll"
					>...<br />conoce nueva gente<br />celebra cada partido<br />comparte<br />mejora
					tu juego<br />abraza la alegría del deporte</span
				>
			</div>
		</div>
		<a href="" #more id="more" class="hide"><i></i><i></i><i></i><i></i></a>
	</div>
</div>
