<div id="slider">
	<section class="slide" style="background-color: #3b657b">
		<div>
			<div class="vis" style="background-image: url()"></div>
			<h1>...</h1>
			<p><strong>...</strong></p>
			<p><b>...</b></p>
		</div>
	</section>

	<section class="slide" style="background-color: #3b657b">
		<div>
			<div
				class="vis"
				style="
					background-image: url(../../../../../assets/img/court.jpg);
					filter: brightness(150%);
				"
			></div>
			<h1>Lorem Ipsum bla bla</h1>
			<p>Client : <strong>Agence d-iD-o!</strong></p>
			<p>Type de réalisation : <b>Site internet</b></p>
			<a href="http://www.google.fr">xxxxxxx</a>
		</div>
	</section>

	<section class="slide" style="background-color: #3b657b">
		<div>
			<div
				class="vis"
				style="
					background-image: url(../../../../../assets/img/padle1.jpg);
					filter: brightness(150%);
					width: 157%;
				"
			></div>
			<h1>Lorem Ipsum bla bla</h1>
			<p>Client : <strong>31 Emotions</strong></p>
			<p>Type de réalisation : <b>Site internet</b></p>
			<a href="http://www.google.fr">xxxxxxx</a>
		</div>
	</section>

	<section class="slide" style="background-color: #3b657b">
		<div>
			<div
				class="vis"
				style="
					background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/710995/tennis-woman-600.png);
					filter: brightness(50%);
				"
			></div>
			<h1>Lorem Ipsum bla bla</h1>
			<p>Client : <strong>Nouveau Monde DDB</strong></p>
			<p>Type de réalisation : <b>Site internet</b></p>
			<a href="http://www.google.fr">xxxxxxxxx</a>
		</div>
	</section>

	<section class="slide" style="background-color: #3b657b">
		<div>
			<div
				class="vis"
				style="
					background-image: url(../../../../../assets/img/jump.jpg);
					filter: brightness(150%);
					width: 123%;
				"
			></div>
			<h1>Lorem Ipsum bla bla</h1>
			<p>Client : <strong>7 une bonne idée</strong></p>
			<p>Type de réalisation : <b>Site internet</b></p>
			<a href="http://www.google.fr">xxxxxxxxxxxxx</a>
		</div>
	</section>

	<section class="slide" style="background-color: #3b657b">
		<div>
			<div
				class="vis"
				style="
					background-image: url(../../../../../assets/img/college.jpg);
					filter: brightness(150%);
					width: 124%;
				"
			></div>
			<h1>Lorem Ipsum bla bla</h1>
			<p>Client : <strong>Xanadu</strong></p>
			<p>Type de réalisation : <b>Site internet</b></p>
			<a href="http://www.google.fr">xxxxxxxxxx</a>
		</div>
	</section>

	<div #slcontent id="slcontent">
		<div #slprojet id="slprojet" class="line">
			<div><span>projet </span> <span class="scroll"></span></div>
		</div>
		<div #sltype id="sltype" class="line">
			<div><span>type </span> <span class="scroll"></span></div>
		</div>
		<div #slclient id="slclient" class="line">
			<div>xxx</div>
		</div>
		<div #slcompteur id="slcompteur">
			<div>
				<b
					><span>0<br />0<br />0<br />0<br /></span
					><span>0<br />0<br />0<br />0<br /></span><span></span></b
				><i>000</i>
			</div>
		</div>
		<div id="slother" class="line">
			<div>
				<span>Blabla </span>
				<span class="scroll"
					>...<br />Lorem ipsum dolor sit amet consectetur adipiscing elit<br />Lorem
					Ipsum<br />Lorem Ipsum<br />Lorem Ipsum<br />Lorem Ipsum</span
				>
			</div>
		</div>
		<a href="" #more id="more" class="hide"><i></i><i></i><i></i><i></i></a>
	</div>
</div>
