@import "../../../../../theme/theme";
.box {
  &__title {
    font-weight: 500;
    text-align: center;
    font-family: $header-font;
    font-size: rem(20px);
    color: $hornygreenish;
    @media (min-width: 991px) {
      font-size: 2.55rem;
      letter-spacing: .3rem;
    }
  }

  &__chart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

}

.box h2{
  font-weight:300;
  text-align:center;
}
