<div class="wrap">
	<div class="buttons">
		<a href="#" class="active" rel="tennis" (click)="setSport('tennis', $event)"
			>Tennis</a
		>
		<a href="#" rel="squash" (click)="setSport('squash', $event)">Squash</a>
		<a href="#" rel="golf" (click)="setSport('golf', $event)">Golf</a>
	</div>
	<div class="frame active tennis">
		<div class="print">
			<div class="court-line"></div>
			<div class="tennis-ball"></div>
			<div class="tennis-ball-shadow"></div>
		</div>
		<div class="title title-tennis">
			<span>T</span>
			<span>E</span>
			<span>N</span>
			<span>N</span>
			<span>I</span>
			<span>S</span>
		</div>
	</div>
	<div class="frame squash">
		<div class="print">
			<div class="wall-back"></div>
			<div class="wall-side"></div>
			<div class="floor"></div>
			<div class="court-line"></div>
			<div class="squash-ball"></div>
			<div class="squash-ball-shadow"></div>
			<!-- *semantically*, having ball shadows as separate divs doesn't feel right, but it just seems a whole lot easier this way -->
		</div>
		<div class="title title-squash">
			<span>S</span>
			<span>Q</span>
			<span>U</span>
			<span>A</span>
			<span>S</span>
			<span>H</span>
		</div>
	</div>
	<div class="frame golf">
		<div class="print">
			<div class="sun"></div>
			<div class="background"></div>
			<div class="foreground"></div>
			<div class="golf-ball"></div>
		</div>
		<div class="title title-golf">
			<span>G</span>
			<span>O</span>
			<span>L</span>
			<span>F</span>
		</div>
	</div>
</div>
