<nav #autohideNav class="autohideNav navbar navbar-expand-custom navbar-mainbg">
	<app-logo class="logo"></app-logo>
	<button
		class="navbar-toggler"
		type="button"
		aria-controls="navbarSupportedContent"
		aria-expanded="false"
		aria-label="Toggle navigation"
		(click)="toggleMenu($event)"
	>
		<fa-icon style="font-size: 20px; color: white" [icon]="faBars"></fa-icon>
	</button>
	<div
		class="collapse navbar-collapse"
		id="navbarSupportedContent"
		#navbarSupportedContent
	>
		<ul
			class="navbar-nav ml-auto"
			#unsortedList
			(click)="setNewActiveTab($event)"
		>
			<div class="hori-selector" #horiSelector>
				<div class="left"></div>
				<div class="right"></div>
			</div>
			<ng-container *ngFor="let option of navOptions">
				<ng-container
					*ngTemplateOutlet="navBarMenuLink; context: { $implicit: option }"
				></ng-container>
			</ng-container>
		</ul>
	</div>
</nav>

<ng-template #navBarMenuLink let-config>
	<li class="nav-item" [routerLink]="config?.to" routerLinkActive="active">
		<a class="nav-link" href="javascript:void(0);"
			><fa-icon style="font-size: 16px" [icon]="config.icon"></fa-icon
			>{{ config.label }}</a
		>
	</li>
</ng-template>
