$white: white;

$blue: #3399ff;

$black: black;
$almond: #ede1d5;

$yellowball: #d6e03f;
$hornygreenish: #00364a;

//spot pallette
$firstspot: #00364a;
$secondaryspot: #3B657B;
$twospot: #CAF7FF;
$threespot: #EE982B;

//cube palletee
$firstcube: #00364a;
$secondcube: #00C6AD;
$thirdcube: #FFF7D6;
