$white: white;

$coral: #ff7f50;
$blue: #3399ff;

$black: black;
$almond: #ede1d5;

$yellowball: #d6e03f;
$hornygreenish: #00364a;


$blue: #274394;
$lightBlue: #5963a7;
$teal: #68bba7;
$green: #295e32;
$lightGreen: #428149;
$peach: #eeae95;
$bg: #fefaf0;
$tennisball: #f2ed91;
