$white: white;

$blue: #3399ff;

$black: black;
$almond: #ede1d5;

$yellowball: #d6e03f;
$yelloballTrnsp: rgba(214, 224, 63, 0.5);
$hornygreenish: #00364a;
$hornygreenishTransp: rgba(0, 54, 74, 0.5);

//spot pallette
$firstspot: #00364a;
$secondaryspot: #3B657B;
$twospot: #CAF7FF;
$threespot: #EE982B;

//cube palletee
$firstcube: #00364a;
$secondcube: #00C6AD;
$thirdcube: #FFF7D6;
