@import "../../../../theme/theme";

h2 {
  font-family: $header-font;
  font-size: rem(80px);
  font-weight: 700;
  color: $hornygreenish;
  @media (max-width: 991px) {
    font-size: 30px;
    letter-spacing: .4rem;
  }
}
