<app-base-canvas>
	<app-coorp-frame
		[height]="'30px'"
		[width]="'100%'"
		[margin]="'10px 20px 0px 10px'"
		[backgroundcolor]="'transparent'"
		[borderRight]="'4px solid #00364a'"
	></app-coorp-frame>
	<app-coorp-frame
		[text]="'Misión'"
		[height]="'30px'"
		[width]="'100%'"
		[margin]="'40px 20px 0px 10px'"
		[backgroundcolor]="'transparent'"
		[borderTop]="'4px solid #00364a'"
		[borderRight]="''"
		[borderBottom]="'4px solid #00364a'"
		[borderLeft]="'4px solid #00364a'"
	></app-coorp-frame>
	<app-coorp-frame
		[height]="'auto'"
		[width]="'100%'"
		[margin]="'0px 20px 0px 10px'"
		[backgroundcolor]="'transparent'"
		[borderTop]="''"
		[borderRight]="'4px solid #00364a'"
		[borderBottom]="'4px solid #00364a'"
		[borderLeft]="''"
	>
		<app-whatwedo></app-whatwedo>
	</app-coorp-frame>
	<app-coorp-frame
		[height]="'25px'"
		[width]="'100%'"
		[margin]="'0px 20px 0px 10px'"
		[backgroundcolor]="'transparent'"
		[borderTop]="''"
		[borderRight]="''"
		[borderBottom]="'4px solid #00364a'"
		[borderLeft]="'4px solid #00364a'"
	></app-coorp-frame>
	<app-coorp-frame
		[height]="'25px'"
		[width]="'100%'"
		[margin]="'0px 20px 0px 10px'"
		[backgroundcolor]="'transparent'"
		[borderTop]="''"
		[borderRight]="'4px solid #00364a'"
		[borderBottom]="''"
		[borderLeft]="''"
	></app-coorp-frame>
	<app-coorp-frame
		[margin]="'0px 20px 0px 20px'"
		[height]="'1000px'"
		[width]="'100%'"
		[borderRight]="'4px solid #00364a'"
	>
		<app-scrollslider style="height: 100%; width: 100%"></app-scrollslider>
	</app-coorp-frame>
	<app-coorp-frame
		[height]="'30px'"
		[width]="'100%'"
		[margin]="'0px 20px 0px 10px'"
		[backgroundcolor]="'transparent'"
		[borderRight]="'4px solid #00364a'"
		[borderBottom]="'4px solid #00364a'"
	></app-coorp-frame>
	<app-coorp-frame
		[text]="'Nos identifica'"
		[height]="'25px'"
		[width]="'100%'"
		[margin]="'0px 20px 0px 10px'"
		[backgroundcolor]="'transparent'"
		[borderTop]="''"
		[borderRight]="''"
		[borderBottom]="'4px solid #00364a'"
		[borderLeft]="'4px solid #00364a'"
	></app-coorp-frame>
	<app-coorp-frame
		[height]="'25px'"
		[width]="'100%'"
		[margin]="'0px 20px 0px 10px'"
		[backgroundcolor]="'transparent'"
		[borderTop]="''"
		[borderRight]="'4px solid #00364a'"
		[borderBottom]="''"
		[borderLeft]="''"
	></app-coorp-frame>
	<app-coorp-frame [margin]="'0px 20px 0px 20px'">
		<app-keypoint-list style="height: 100%; width: 100%"></app-keypoint-list>
	</app-coorp-frame>
	<app-coorp-frame
		[height]="'30px'"
		[width]="'100%'"
		[margin]="'0px 20px 0px 10px'"
		[backgroundcolor]="'transparent'"
		[borderRight]="'4px solid #00364a'"
		[borderBottom]="'4px solid #00364a'"
	></app-coorp-frame>
	<app-coorp-frame
		[text]="'Forma parte'"
		[height]="'25px'"
		[width]="'100%'"
		[margin]="'0px 20px 0px 10px'"
		[backgroundcolor]="'transparent'"
		[borderTop]="''"
		[borderRight]="''"
		[borderBottom]="'4px solid #00364a'"
		[borderLeft]="'4px solid #00364a'"
	></app-coorp-frame>
	<app-coorp-frame
		[height]="'25px'"
		[width]="'100%'"
		[margin]="'0px 20px 0px 10px'"
		[backgroundcolor]="'transparent'"
		[borderTop]="''"
		[borderRight]="'4px solid #00364a'"
		[borderBottom]="''"
		[borderLeft]="''"
	></app-coorp-frame>
	<app-coorp-frame
		[margin]="'0px 20px 0px 20px'"
		[borderRight]="'4px solid #00364a'"
		[borderBottom]="''"
	>
		<app-interactive-balls
			style="height: 100%; width: 100%"
		></app-interactive-balls>
	</app-coorp-frame>
	<app-coorp-frame
		[height]="'30px'"
		[width]="'100%'"
		[margin]="'0px 20px 0px 10px'"
		[backgroundcolor]="'transparent'"
		[borderRight]="'4px solid #00364a'"
		[borderBottom]="'4px solid #00364a'"
	></app-coorp-frame>
	<app-coorp-frame
		[text]="'Entra en juego'"
		[height]="'25px'"
		[width]="'100%'"
		[margin]="'0px 20px 0px 10px'"
		[backgroundcolor]="'transparent'"
		[borderTop]="''"
		[borderRight]="''"
		[borderBottom]="'4px solid #00364a'"
		[borderLeft]="'4px solid #00364a'"
	></app-coorp-frame>
	<app-coorp-frame
		[margin]="'0px 20px 0px 20px'"
		[borderRight]="'4px solid #00364a'"
		[borderBottom]="''"
	>
		<app-dual-slider style="height: 100%; width: 100%"></app-dual-slider>
	</app-coorp-frame>
</app-base-canvas>
