<div class="cont">
	<div class="form-container sign-up-container">
		<form action="#">
			<h1>Regístrate</h1>
			<div class="social-container">
				<a href="#" class="social"
					><fa-icon
						style="font-size: 20px; color: #00364a"
						[icon]="faFb"
					></fa-icon
				></a>
				<a href="#" class="social"
					><fa-icon
						style="font-size: 20px; color: #00364a"
						[icon]="faInsta"
					></fa-icon
				></a>
				<a href="#" class="social"
					><fa-icon
						style="font-size: 20px; color: #00364a"
						[icon]="faGoogle"
					></fa-icon
				></a>
			</div>
			<span>o usa tu email para registrarte</span>
			<input type="text" placeholder="Nombre" />
			<input type="email" placeholder="Email" />
			<input type="password" placeholder="Password" />
			<button>Regístrame</button>
			<a routerLink="/signin" href="#">Login aqui si ya tienes una cuenta</a>
		</form>
	</div>
</div>
