@import "../../../../../theme/theme";

@media (prefers-reduced-motion: reduce) {
  ::view-transition-old(*),
  ::view-transition-new(*) {
    animation-duration: 0s;
  }
}

.grid {
  background-color: $hornygreenish;
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    // fluid columns, but max out at 3
    minmax(min(100%, max(10rem, 100%/4)), 1fr)
  );
  gap: 2.5rem;
  padding: 15px;

  // ALTERNATE LOOK! Just uncomment

  // &:has(.card.featured) {
  //   grid-template-columns: repeat(5, 1fr);
  //   .card:not(.featured) {
  //     :not(h2) {
  //       display: none;
  //     }
  //   }
}


