<div class="box">
	<div class="container">
		<div class="container__row title">
			<div class="title__subheader">
				<span class="title__subheader-item"
					>¿Quieres abrir un ránking en tu comunidad y tienes dudas?</span
				>
				<span class="title__subheader-item"
					>¿Tienes dificultades incribiéndote en un ránking?</span
				>
				<span class="title__subheader-item"
					>¿Te surjen dudas introduciendo los resultados de tu partido?
				</span>
				<span class="title__subheader-item"
					>Para éstas y otras consultas, escríbenos:</span
				>
			</div>
		</div>
		<div class="container__row">
			<form [formGroup]="contactaForm">
				<div>
					<div>
						<label for="names">Nombre y apellidos:</label>
						<input type="text" id="names" pInputText formControlName="names" />
						<app-error-form
							class="error-message"
							[control]="contactaForm.get('names')!"
						></app-error-form>
					</div>
					<div>
						<label for="email">Email:</label>
						<input type="email" id="email" pInputText formControlName="email" />
						<app-error-form
							class="error-message"
							[control]="contactaForm.get('email')!"
						></app-error-form>
					</div>
					<div>
						<label for="phone">Teléfono:</label>
						<p-inputNumber
							id="phone"
							mode="decimal"
							inputId="withoutgrouping"
							[useGrouping]="false"
							formControlName="phone"
						>
						</p-inputNumber>
						<app-error-form
							class="error-message"
							[control]="contactaForm.get('phone')!"
						></app-error-form>
					</div>
					<div>
						<label for="subject">Asunto:</label>
						<input
							type="text"
							id="subject"
							pInputText
							formControlName="subject"
						/>
						<app-error-form
							class="error-message"
							[control]="contactaForm.get('subject')!"
						></app-error-form>
					</div>
					<div>
						<label for="message">Mensaje:</label>
						<textarea
							rows="10"
							cols="50"
							pInputTextarea
							type="message"
							id="message"
							formControlName="message"
						></textarea>
						<app-error-form
							class="error-message"
							[control]="contactaForm.get('message')!"
						></app-error-form>
					</div>

					<p-button
						label="Submit"
						[loading]="loading"
						(click)="load()"
						[disabled]="!contactaForm.valid"
					></p-button>
				</div>
			</form>
		</div>
	</div>
</div>
