@import "../../../../../theme/theme";

.box {
  background: $white;

  // display: flex;
  // flex-direction: row;
  // justify-content: center;
  // align-items: center;
  // width: 100%;
  // position: relative;

  // overflow-x: hidden;

  height: 850px;

  @media (min-width: 768px) {
    height: 850px;
  }
  @media (min-width: 992px) {
    height: 1010px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;

  &__row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.title {

  &__subheader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    &-item {
      display: block;
      padding-bottom: 15px;

      @media (min-width: 768px) {
        padding-bottom: 20px;
      }
      @media (min-width: 992px) {
        padding-bottom: 30px;
      }
    }
    &-item:last-child {
      padding-top: 10px;

      @media (min-width: 768px) {
        padding-top: 15px;
      }
      @media (min-width: 992px) {
        padding-top: 20px;
      }
    }
  }
}

label, input {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

label {
  font-weight: bold;
}

input[type="text"], input[type="email"], input[type="password"] {
  padding: 10px;
  border: 1px solid gray;
  border-radius: 5px;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.p-button {
  padding-top: 50px;
}
