<div class="box">
	<div class="form">
		<div class="form__row title">
			<div class="title__subheader">
				<span class="title__subheader-item"
					>¿Quieres abrir un ránking en tu comunidad y tienes dudas?</span
				>
				<span class="title__subheader-item"
					>¿Tienes dificultades incribiéndote en un ránking?</span
				>
				<span class="title__subheader-item"
					>¿Te surjen dudas introduciendo los resultados de tu partido?
				</span>
				<span class="title__subheader-item"
					>Para éstas y otras consultas, escríbenos:</span
				>
			</div>
		</div>
		<div class="form__row"></div>
	</div>
</div>
